/* Fonts */
@font-face {
  font-family: 'proxima_novablack';
  src: url('../fonts/proximanova-black-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-black-webfont.woff') format('woff');
  font-weight: normal;  font-style: normal;}
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-bold-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_nova_rgbold_italic';
  src: url('../fonts/proximanova-boldit-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-boldit-webfont.woff') format('woff');
  font-weight: normal;font-style: normal;}
@font-face {
  font-family: 'proxima_novaextrabold';
  src: url('../fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-extrabold-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_novalight';
  src: url('../fonts/proximanova-light-webfont.woff') format('woff');
  font-weight: normal;font-style: normal;}
@font-face {
  font-family: 'proxima_novalight_italic';
  src: url('../fonts/proximanova-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-lightitalic-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_novaregular_italic';
  src: url('../fonts/proximanova-regitalic-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-regitalic-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_novaregular_italic';
  src: url('../fonts/proximanova-regularitalic-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-regularitalic-webfont.woff') format('woff');
  font-weight: normal;font-style: normal;}
@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-semibold-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_novasemibold_italic';
  src: url('../fonts/proximanova-semibolditalic-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-semibolditalic-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_nova_condensedlight';
  src: url('../fonts/proximanovacond-light-webfont.woff2') format('woff2'),
  url('../fonts/proximanovacond-light-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_nova_condensedLtIt';
  src: url('../fonts/proximanovacond-lightit-webfont.woff2') format('woff2'),
  url('../fonts/proximanovacond-lightit-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url('../fonts/proximanovacond-regular-webfont.woff2') format('woff2'),
  url('../fonts/proximanovacond-regular-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_nova_condensedRgIt';
  src: url('../fonts/proximanovacond-regularit-webfont.woff2') format('woff2'),
  url('../fonts/proximanovacond-regularit-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_nova_condensedSBd';
  src: url('../fonts/proximanovacond-semibold-webfont.woff2') format('woff2'),
  url('../fonts/proximanovacond-semibold-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}
@font-face {
  font-family: 'proxima_nova_condensedSBdIt';
  src: url('../fonts/proximanovacond-semiboldit-webfont.woff2') format('woff2'),
  url('../fonts/proximanovacond-semiboldit-webfont.woff') format('woff');
  font-weight: normal; font-style: normal;}

/**
* CSS RESET
* Eric Meyer's Reset CSS v2.0 - http://cssreset.com.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
==============================================*/
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

/**
* BASE STYLES
*/
html{
  overflow: hidden;
  background:#FFF;
  font-family: "proxima_nova_rgregular",Helvetica,Arial,sans-serif;
  font-weight:300;
  height:100%}
body{
  background:#FFF;
  height:100%;
  -webkit-font-smoothing:antialiased;
  overflow-x:hidden}
html, body {margin: 0; padding: 0; overflow: hidden}
a {text-decoration: none;}
input:focus,select:focus,textarea:focus,button:focus{outline:none}
input,textarea{-webkit-appearance:none;border-radius:0;width: 100%}
::selection{background-color:#008BC0;color:#FFF}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

/* HELPERS */
.text-center {text-align: center;}
.display-block {display: block;}
.pull-right {float: right}

/**
* OPERA - APOLLO
* Apollo styles
*/


#content {
  margin:auto;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  position: absolute;
  /*height: 693.333333px;*/
  /*width: 426.666667px;*/
  height: 100%;
  width: 100%;
}

/* MAIN NEWS - CAROUSEL */
.opera-carousel {
  position: relative;
}

.opera-carousel__dots {
  bottom: 17vh !important;
}
.opera-carousel__dots li {
  height: 7pt !important;
  width: 7pt !important;
  padding: 0 !important;
  margin:0 5pt 0 0 !important;
}
.opera-carousel__dots li:last-child {
  margin: 0 !important;
}
.opera-carousel__dots li button {
  height: 7pt !important;
  width: 7pt !important;
  padding: 0 !important;
}
.opera-carousel__dots li button:before,
.opera-carousel__dots li.slick-active button:before {
  height: 7pt !important;
  width: 7pt !important;
  font-size: 30px !important;
}
.opera-carousel__dots li.slick-active button:before {
  color: #ffffff !important;
}

.carousel-slide {
  position: relative;
}

.opera-carousel__slide-info {
  position: absolute;
  bottom: 12vh;
  margin: 0 25pt;
  width: calc(100vw - 50pt) ;
  color: #ffffff;
}
.opera-carousel__slide-info h3 {
  text-transform: uppercase;
  font-size: 20pt;
  font-weight: 600;
  color: #ffffff;
}
.opera-carousel__slide-info .desc {
  font-family: "proxima_novalight",Helvetica,Arial,sans-serif;
  line-height: 26px;
  color: #ffffff;
}

/* CAROUSELS */

.carousel-single {
  min-height: 100vh !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background: transparent;
  position: absolute;
  z-index: 999999;
}
/*#carousel-01 {background: transparent url("http://loremflickr.com/414/736/istanbul") no-repeat center center; }*/
/*#carousel-02 {background: transparent url("http://loremflickr.com/414/736/london") no-repeat center center; }*/
/*#carousel-03 {background: transparent url("http://loremflickr.com/414/736/rio") no-repeat center center; }*/
/*#carousel-04 {background: transparent url("http://loremflickr.com/414/736/paris") no-repeat center center; }*/

.carousel-placeholder {
  background: transparent url("../img/bgPlaceholder.png") no-repeat center center;
  background-size: cover;
}

/* No React Carousel */
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}


/* CAMPAIGN DETAIL */
.campaign-detail {
  background: transparent url("../img/bgGradient@3x.png") no-repeat;
  /*height: 100%;*/
  padding: 30px 22pt;
  font-size: 14pt;
}
.campaig-name {font-weight: bold;font-size: 16pt}
.campaign-image {
  border-radius: 50%;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  display: block;
  border:4px solid #3E2A3E;
  padding: 6px;
}
.campaign-detail .label {
  color: #A4AAB3 !important;
  display: block;
  margin-bottom: 9pt;
  font-size: 14pt;
}
.campaign-detail li {
  color: #fff;
  margin-bottom: 9pt;
  font-size: 14pt;
  line-height: 15pt;
}


#content,
.opera-carousel,
.slick-list,
.slick-track {
  overflow-x: hidden !important;
}
.slick-slider {margin-bottom: 0 !important;}


.opera-carousel .slick-slide img {
  max-width:100% !important;
  max-height:100% !important;
}

/* Campaign Detail v2 */
.campaign-detail-v2 {
  background: #372938 url("../img/bgGradient@3x.png") no-repeat;
  padding: 0;
  font-size: 14pt;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}
.campaign-image-v2 {
  position: relative;
  height: 30vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*background: transparent url("http://loremflickr.com/800/800/paris") no-repeat center center;*/
}

.label-v2 {
  color: #A4AAB3 !important;
  font-size: .75em;
}
.label-v2.display-block {
  margin-bottom: 2vh;
}
.campaign-info-v2 {
  color: #ffffff;
  margin-top: 5vh;
  overflow-y: auto;
  max-height: 62vh;
}
.campaign-info-v2 li {
  padding: 1.3em 1em;
  border-top: 1px solid #372938;
}
.campaign-info-v2 li:last-child {
  border-bottom: 1px solid #372938;
}
.info-text {
  font-size: .75em;
  line-height: 1.5em;
}

.launch-btn-anim {
  display: none;
}
#launch-btn.disabled {
  background-color: #c0abd0;
}

#launch-btn.disabled #launch-load-anim{
  display: inline-block;
}






/** LOADER */
#launch-load-anim {display: none;}
.spinner {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 7px;
  top: 8px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
/* OWL CAROUSEL */
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
#opera-carousel,
#opera-carousel .owl-wrapper-outer,
#opera-carousel .owl-wrapper,
#opera-carousel img {
  height: 100vh;
}
#opera-carousel .item {
  height: 100vh;
}
#opera-carousel .item img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,0, 0);
}

#opera-carousel .owl-controls {
  position: relative;
  left: 50%;
  transform: translate3d(-50%,-400%, 0);
}

.owl-theme .owl-controls .owl-page span {
  background: #fff !important;
  opacity: .3 !important;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
  opacity: 1 !important;
  background: #fff !important;
}
.carouselGradient {
  height: 100vh;
  width: 100vw;
  opacity: 1;
  position: absolute;
  z-index: 999;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 44%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 44%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 44%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}



/* Buttons*/
.btn-border {}
.btn-launch-add {
  background: transparent;
  font-family: "proxima_novasemibold",Helvetica,Arial,sans-serif;
  font-weight: normal;
  border:0.5pt solid #fff;
  -webkit-border-radius:4pt;
  -moz-border-radius:4pt;
  border-radius:4pt;
  padding: 11.5pt 13.5pt;
  margin: 2em 0;
  color: #fff;
  text-transform: uppercase;
}

.btn-launch-add-v2 {
  background: #A14AE1;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  /*padding: 1em 3em;*/
  text-rendering: optimizeLegibility;
  font-weight: 600;
  position: relative;
  padding: .75em 2.5em;
  font-size: .75em;
}
#action-btn-holder {
  position: absolute;
  width: 100%;
  bottom: -21px;
}